__pycache__/
.venv/
.pytest_cache/
.terraform/
.ruff_cache/
*.egg-info/
tmp/
.coverage
.env
*.duckdb
*.ipynb
*.pyc
coverage.xml
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.lock.info
