__pycache__/
.venv/
.pytest_cache/
.terraform/
.ruff_cache/
*.egg-info/
temp_pr/
temp_scan/
.coverage
.env
*.duckdb
*.ipynb
*.pyc
coverage.xml
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
