name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install python
        run: uv python install

      - name: Install dependencies
        run: make install

      - name: Run pre-commit
        run: uv run prek run --all-files

      - name: Run tests
        run: uv run pytest
